<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 margin-20">
                        <div class="row">
                            <div class="col-md-4">
                                <items-per-page-selector></items-per-page-selector>
                            </div>
                            <div class="col-md-3 center">
                                <search-box model="vm.textFilter" 
                                            on-change="vm.updateFilter()" 
                                            ng-model-options="{ debounce: 1000 }"></search-box>
                            </div>
                            <div class="col-md-5">
                                <edit-cancel-save-buttons></edit-cancel-save-buttons>
                            </div>
                        </div>                            
                        <hr />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 margin-20">
                        Filters:
                        <button type="button" class="btn btn-default" 
                                ng-repeat="filterProperty in vm.filterPropertyOrder"
                                ng-click="vm.openFilterModal(filterProperty)">
                            {{vm.filterPropertyMap[filterProperty].name}}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-repeat="filterProperty in vm.filterPropertyOrder">
                            <div uib-alert class="alert edit col-md-1" role="alert"
                                 ng-repeat="(selectedId, isSelected) in vm.filterPropertyMap[filterProperty].selected"
                                 ng-show="isSelected">
                                <button type="button" class="close" aria-label="Close"
                                        ng-click="vm.filterPropertyMap[filterProperty].selected[selectedId] = !isSelected; vm.updateFilter()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{vm.filterPropertyMap[filterProperty].name}} - {{vm.filterPropertyMap[filterProperty].list[selectedId]}}
                            </div>
                        </div>
                    </div>
                </div>
                <mt-spinner ng-if="vm.dataTransferring"></mt-spinner>
                <table class="table table-striped parent" ng-if="vm.initialLoadComplete">
                    <thead>
                        <tr>
                            <th colspan="4" class="col-md-4">
                                Family / Smartpart Number / Price Book Code
                            </th>
                            <th class="col-md-1">Cost</th>
                            <th class="col-md-1">Component</th>
                            <th class="col-md-1">Frame</th>
                            <th class="col-md-1">Adder</th>
                            <th class="col-md-1">Dealer Margin</th>
                            <th class="col-md-1">Distributor Margin</th>
                            <th class="col-md-1">Multiplier</th>
                            <th class="col-md-1">List Price</th>
                            <th class="col-md-1">Stock Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="no-bg edit" ng-repeat-start="slabFamilyProductType in vm.slabFamilyProductTypeView">
                            <td class="click" colspan="13">
                                <a ng-click="vm.expandSlabFamilyProductType(slabFamilyProductType)" aria-hidden="true" aria-expanded="{{slabFamilyProductType.isExpanded ? 'true' : 'false'}}">
                                    <i class="fa fa-plus-square-o"></i>
                                    <i class="fa fa-minus-square-o"></i>
                                     {{slabFamilyProductType.SlabFamilyDescription}} {{slabFamilyProductType.ProductTypeDescription}}
                                </a>
                                
                            </td>
                        </tr>
                        <tr ng-repeat-end>
                            <td colspan="13" class="hiddenRow no-padding">
                                <div class="accordian-body subfamily" uib-collapse="!slabFamilyProductType.isExpanded">
                                    <mt-spinner ng-if="slabFamilyProductType.isExpanded && !slabFamilyProductType.isPopulated"></mt-spinner>
                                    <table class="table table-striped" ng-if="slabFamilyProductType.isExpanded && slabFamilyProductType.isPopulated">
                                        <tbody>
                                            <tr ng-repeat-start="priceBookItem in slabFamilyProductType.MasterDataView" ng-class="{ 'edit': priceBookItem.IsAnyOverride }">
                                                <td  class="col-md-4 click" colspan="4">
                                                    <a ng-click="priceBookItem.isExpanded = !priceBookItem.isExpanded" aria-hidden="true" aria-expanded="{{priceBookItem.isExpanded ? 'true' : 'false'}}">
                                                        <i class="fa fa-plus-square-o"></i>
                                                        <i class="fa fa-minus-square-o"></i>
                                                        {{priceBookItem.SmartPartNumber}}
                                                    </a>
                                                    
                                                </td>
                                                <td class="col-md-1">
                                                    <span ng-if="priceBookItem.SlabCost + priceBookItem.GlassCost">{{priceBookItem.SlabCost + priceBookItem.GlassCost | currency}}</span>
                                                </td>
                                                <td class="col-md-1">
                                                    <span ng-if="priceBookItem.ComponentCost">{{priceBookItem.ComponentCost | currency}}</span>
                                                </td>
                                                <td class="col-md-1">
                                                    <input step="any" step="any" ng-show="vm.isEditMode" ng-model="priceBookItem.OverrideFrameCost" ng-change="vm.edited(priceBookItem, 'FrameCost')" type="number" />
                                                    <span ng-hide="vm.isEditMode">{{priceBookItem.OverrideFrameCost | currency:"$":2}}</span>
                                                    <i ng-show="priceBookItem.IsOverrideFrameCost && vm.isEditMode" class="fa fa-undo pull-right" aria-hidden="true"
                                                       ng-click="vm.reverted(priceBookItem, 'FrameCost')"></i>
                                                </td>
                                                <td class="col-md-1">
                                                    <input step="any" ng-show="vm.isEditMode" ng-model="priceBookItem.OverrideAdderCost" ng-change="vm.edited(priceBookItem, 'AdderCost')" type="number" />
                                                    <span ng-hide="vm.isEditMode">{{priceBookItem.OverrideAdderCost | currency:"$":2}}</span>
                                                    <i ng-show="priceBookItem.IsOverrideAdderCost && vm.isEditMode" class="fa fa-undo pull-right" aria-hidden="true"
                                                       ng-click="vm.reverted(priceBookItem, 'AdderCost')"></i>
                                                </td>
                                                <td class="col-md-1">
                                                    <input  step="any" ng-show="vm.isEditMode" ng-model="priceBookItem.OverrideDealerMargin" ng-change="vm.edited(priceBookItem, 'DealerMargin')" type="number" />
                                                    <span ng-hide="vm.isEditMode">{{priceBookItem.OverrideDealerMargin}}</span>
                                                    <i ng-show="priceBookItem.IsOverrideDealerMargin && vm.isEditMode" class="fa fa-undo pull-right" aria-hidden="true"
                                                       ng-click="vm.reverted(priceBookItem, 'DealerMargin')"></i>
                                                </td>
                                                <td class="col-md-1">
                                                    <input step="any" ng-show="vm.isEditMode" ng-model="priceBookItem.OverrideDistributorMargin" ng-change="vm.edited(priceBookItem, 'DistributorMargin')" type="number" />
                                                    <span ng-hide="vm.isEditMode">{{priceBookItem.OverrideDistributorMargin}}</span>
                                                    <i ng-show="priceBookItem.IsOverrideDistributorMargin && vm.isEditMode" class="fa fa-undo pull-right" aria-hidden="true"
                                                       ng-click="vm.reverted(priceBookItem, 'DistributorMargin')"></i>
                                                </td>
                                                <td class="col-md-1">
                                                    <input step="any" ng-show="vm.isEditMode" ng-model="priceBookItem.OverrideMultiplier" ng-change="vm.edited(priceBookItem, 'Multiplier')" type="number" />
                                                    <span ng-hide="vm.isEditMode">{{priceBookItem.OverrideMultiplier}}</span>
                                                    <i ng-show="priceBookItem.IsOverrideMultiplier && vm.isEditMode" class="fa fa-undo pull-right" aria-hidden="true"
                                                       ng-click="vm.reverted(priceBookItem, 'Multiplier')"></i>
                                                </td>
                                                <td class="col-md-1">
                                                    <input step="any" ng-show="vm.isEditMode" ng-model="priceBookItem.OverrideListPrice" ng-change="vm.edited(priceBookItem, 'ListPrice')" type="number" />
                                                    <span ng-hide="vm.isEditMode">{{priceBookItem.OverrideListPrice | currency:"$":2}}</span>
                                                    <i ng-show="priceBookItem.IsOverrideListPrice && vm.isEditMode" class="fa fa-undo pull-right" aria-hidden="true"
                                                       ng-click="vm.reverted(priceBookItem, 'ListPrice')"></i>
                                                </td>
                                                <td class="col-md-1">
                                                    <button ng-show="vm.isEditMode" type="button" class="btn btn-default btn-xs"
                                                            ng-click="priceBookItem.OverrideStockStatus = !priceBookItem.OverrideStockStatus; vm.edited(priceBookItem)"
                                                            ng-class="priceBookItem.OverrideStockStatus ? 'stock' : 'non-stock'">
                                                        stock
                                                    </button>
                                                    <span ng-hide="vm.isEditMode" ng-class="priceBookItem.OverrideStockStatus ? 'stock' : 'non-stock'">stock</span>
                                                    <i ng-show="priceBookItem.IsOverrideStockStatus && vm.isEditMode" class="fa fa-undo pull-right" aria-hidden="true"
                                                       ng-click="priceBookItem.OverrideStockStatus = priceBookItem.StockStatus; vm.edited(priceBookItem)"></i>
                                                </td>
                                            </tr>
                                            <tr ng-repeat-end>
                                                <td colspan="12" class="hiddenRow no-padding">
                                                    <div class="accordian-body subfamily" uib-collapse="!priceBookItem.isExpanded">
                                                        <table class="table table-striped" ng-if="priceBookItem.isExpanded">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="12" class="no-padding">
                                                                        <table class="table table-striped">
                                                                            <tbody>
                                                                                <tr class="no-bg" ng-hide="priceBookItem.GlazePriceBookCode">
                                                                                    <td colspan="4" class="col-md-4 subsubfamily">Slab: {{priceBookItem.SlabPriceBookCode}}</td>
                                                                                    <td class="col-md-1">{{priceBookItem.SlabCost | currency:"$":2}}</td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                </tr>
                                                                                <tr class="no-bg" ng-hide="priceBookItem.GlazePriceBookCode">
                                                                                    <td class="4" class="subsubfamily">Glass: {{priceBookItem.GlassPriceBookCode}}</td>
                                                                                    <td class="col-md-1">{{priceBookItem.GlassCost | currency:"$":2}}</td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                </tr>
                                                                                <tr class="no-bg" ng-show="priceBookItem.GlazePriceBookCode">
                                                                                    <td colspan="4" class="col-md-4 subsubfamily">Factory Glazed: {{priceBookItem.GlazePriceBookCode}}</td>
                                                                                    <td class="col-md-1">{{priceBookItem.GlazeCost | currency:"$":2}}</td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                    <td class="col-md-1"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12 center">
        <p class="text-right">
            Showing {{(vm.paging.pageNumber - 1) * vm.paging.rowsPerPage + 1}}-{{(vm.paging.pageNumber * vm.paging.rowsPerPage < vm.paging.itemCount) ? vm.paging.pageNumber * vm.paging.rowsPerPage : vm.paging.itemCount}} of {{vm.paging.itemCount}}
        </p>

        <nav aria-label="Page navigation">
            <ul uib-pagination total-items="vm.paging.itemCount" items-per-page="vm.paging.rowsPerPage " boundary-link-numbers="true" max-size="10"
                ng-model="vm.paging.pageNumber" ng-change="vm.updateView()"></ul>
        </nav>
    </div>
</div>