<div  fsm-sticky-header scroll-body="'#top-Menu'" class="clearfix top-Menu" scroll-stop="25" id="topMenu" transclude-id="top-Menu">

    <nav class="navbar navbar-default no-margin">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a class="navbar-brand" href="index.html"></a>
            <ul class="nav navbar-nav navbar-right">
                <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle center" id="drop3"
                       data-toggle="dropdown" role="button" 
                       aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-bell-o"></i>
                        <sup><span class="badge">2</span></sup>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop3">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle center" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="drop3">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-top-right -->
        </div>
        <!-- /.navbar-collapse -->

    </nav>
  
    
    
    
    
    
    <!--<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topMenuCollapsable" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="/App/Images/favicon.ico" style="height:65px;width:75px" ng-click="go('/home')">
            </div>
            <div class="collapse navbar-collapse" id="topMenuCollapsable">
                <ul class="nav navbar-nav">
                    <li id="linkHome" class="topMenuOption"><a ui-serf="/home">Home</a></li>
                    <li id="linkSlabStock" class="topMenuOption"><a ui-serf="/slabStock">Slab Stock</a></li>
                    <li id="linkSlabCost"  class="topMenuOption"><a ui-sref="/slabCost">Slab Cost</a></li>
                    <li id="linkRuleMaint"  class="topMenuOption"><a ui-sref="/customer">Customers</a></li>
                    <li id="linkResourceMaint"  class="topMenuOption"><a ui-sref="/resourcemaint">Resource Maintenance</a></li>
                </ul>
            </div>
        </div>
    </nav>-->

</div>
