<div class="row">
    <!--<div class="col-lg-2 margin-20">
        <label class="radio-inline">
            <input type="radio"
                    name="inlineRadioOptions"
                    value="47DA1C2B-8D95-8134-19C0-E487144D78D2"
                    id="rbEntry"
                    ng-click="vm.updateDoorTypeSelection()"
                    ng-model="vm.selectedProductType" />Entry
        </label>
        <label class="radio-inline">
            <input type="radio"
                    name="inlineRadioOptions"
                    value="9D19519F-177F-7C6E-2747-901B53331062"
                    id="rbInterior"
                    ng-click="vm.updateDoorTypeSelection()"
                    ng-model="vm.selectedProductType" />Interior

        </label>
    </div>-->
    <!--<pre>UnFiltered: {{vm.selectedCustomer}}</pre>-->
</div>

<tabs ng-if="selectedCustomer" data="vm.tabData" type="tabs"></tabs>
